<%@ control language="vb" autoeventwireup="false" inherits="cuwFlashcli, App_Web_77hu0lgq" %>
<object classid=clsid:D27CDB6E-AE6D-11cf-96B8-444553540000
codebase=http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,2,0
width=600
height=100>
<param name=movie value=forward.swf>
<param name=quality value=high>
<param name=BGCOLOR value=#FFFFFF>
<param name=SCALE value=showall>
<embed src=forward.swf
quality=high
pluginspage=http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash type=application/x-shockwave-flash
width=600
height=100
bgcolor=#FFFFFF
scale= showall>
</embed>
</object>
