<%@ control language="vb" autoeventwireup="false" inherits="CUWHeader, App_Web_pw1okmjx" %>
<TABLE id="Table1" style="BACKGROUND-IMAGE: url(imagenes/header.gif); WIDTH: 552px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 144px"
	cellSpacing="0" cellPadding="0" width="552" border="0">
	<TR>
		<TD style="HEIGHT: 143px"></TD>
	</TR>
</TABLE>
