<%@ control language="vb" autoeventwireup="false" inherits="cuwIntro1, App_Web_pw1okmjx" %>
<p>
    <asp:image id="Image1" Width="241px" ImageUrl="~/imagenes/axi_logo.png" 
        runat="server" Height="134px"></asp:image>
</p>

