<%@ control language="vb" autoeventwireup="false" inherits="MenuCliente, App_Web_77hu0lgq" %>
<script language="JavaScript">
function mmLoadMenus() {
  if (window.mm_menu_0723225714_0) return;
  window.mm_menu_0723225714_0 = new Menu("root",119,18,"Verdana, Arial, Helvetica, sans-serif",12,"#ffffff","#000000","#12428b","#bfd8f2","left","middle",3,0,200,-5,7,true,true,true,0,true,true);
  mm_menu_0723225714_0.addMenuItem("Ayuda&nbsp;de&nbsp;e-PyME","window.open('Cl_Ayudaepyme.aspx', '_self');");
  mm_menu_0723225714_0.addMenuItem("FAQ&acute;s","window.open('Cl_Faqs.aspx', '_self');");
  mm_menu_0723225714_0.addMenuItem("Soporte&nbsp;en&nbsp;L&iacute;nea","window.open('Cl_soporteenlinea.aspx', '_self');");
  mm_menu_0723225714_0.addMenuItem("Busqueda","window.open('Cl_Busqueda.aspx', '_self');");
   mm_menu_0723225714_0.hideOnMouseOut=true;
   mm_menu_0723225714_0.menuBorder=1;
   mm_menu_0723225714_0.menuLiteBgColor='#bfd8f2';
   mm_menu_0723225714_0.menuBorderBgColor='#555555';
   mm_menu_0723225714_0.bgColor='#bfd8f2';
  window.mm_menu_0723224704_0 = new Menu("root",87,18,"Verdana, Arial, Helvetica, sans-serif",12,"#ffffff","#000000","#12428b","#bfd8f2","left","middle",3,0,200,-5,7,true,true,true,0,true,true);
  mm_menu_0723224704_0.addMenuItem("Notificaci&oacute;n","window.open('Cl_Notificacion.aspx', '_self');");
  mm_menu_0723224704_0.addMenuItem("Noticias","window.open('Cl_Noticias.aspx', '_self');");
  mm_menu_0723224704_0.addMenuItem("Reclamos","window.open('Cl_Reclamos.aspx', '_self');");
  mm_menu_0723224704_0.addMenuItem("Encuestas","window.open('Cl_Encuestas.aspx', '_self');");
  mm_menu_0723224704_0.addMenuItem("Sugerencias","window.open('Cl_Sugerencias.aspx', '_self');");
  mm_menu_0723224704_0.addMenuItem("Descargas","window.open('Cl_Descargas.aspx', '_self');");
   mm_menu_0723224704_0.hideOnMouseOut=true;
   mm_menu_0723224704_0.menuBorder=1;
   mm_menu_0723224704_0.menuLiteBgColor='#bfd8f2';
   mm_menu_0723224704_0.menuBorderBgColor='#555555';
   mm_menu_0723224704_0.bgColor='#bfd8f2';
  window.mm_menu_0723224518_0 = new Menu("root",116,18,"Verdana, Arial, Helvetica, sans-serif",12,"#ffffff","#000000","#12428b","#bfd8f2","left","middle",3,0,200,-5,7,true,true,true,0,true,true);
  mm_menu_0723224518_0.addMenuItem("Orden&nbsp;de&nbsp;Pedido","window.open('Cl_Ordenpedido.aspx', '_self');");
  mm_menu_0723224518_0.addMenuItem("Cancelaci&oacute;n","window.open('Cl_Cancelacion.aspx', '_self');");
  mm_menu_0723224518_0.addMenuItem("Consulta","window.open('Cl_Consulta.aspx', '_self');");
  mm_menu_0723224518_0.addMenuItem("Estatus","window.open('Cl_Estatuspedido.aspx', '_self');");
  mm_menu_0723224518_0.addMenuItem("Historial","window.open('Cl_Historialpedido.aspx', '_self');");
   mm_menu_0723224518_0.hideOnMouseOut=true;
   mm_menu_0723224518_0.menuBorder=1;
   mm_menu_0723224518_0.menuLiteBgColor='#bfd8f2';
   mm_menu_0723224518_0.menuBorderBgColor='#555555';
   mm_menu_0723224518_0.bgColor='#bfd8f2';
  window.mm_menu_0723224247_0 = new Menu("root",75,18,"Verdana, Arial, Helvetica, sans-serif",12,"#ffffff","#000000","#12428b","#bfd8f2","left","middle",3,0,200,-5,7,true,true,true,0,true,true);
  mm_menu_0723224247_0.addMenuItem("Cotizaci&oacute;n","window.open('Cl_Cotizacion.aspx', '_self');");
  mm_menu_0723224247_0.addMenuItem("Historial","window.open('Cl_Historialcotizacion.aspx', '_self');");
   mm_menu_0723224247_0.hideOnMouseOut=true;
   mm_menu_0723224247_0.menuBorder=1;
   mm_menu_0723224247_0.menuLiteBgColor='#bfd8f2';
   mm_menu_0723224247_0.menuBorderBgColor='#555555';
   mm_menu_0723224247_0.bgColor='#bfd8f2';
  window.mm_menu_0723210002_0 = new Menu("root",150,18,"Verdana, Arial, Helvetica, sans-serif",12,"#ffffff","#000000","#12428b","#bfd8f2","left","middle",3,0,200,-5,7,true,true,true,0,true,true);
  mm_menu_0723210002_0.addMenuItem("Almacenes","window.open('Cl_Almacenes.aspx', '_self');");
  mm_menu_0723210002_0.addMenuItem("Lineas","window.open('Cl_Lineas.aspx', '_self');");
  mm_menu_0723210002_0.addMenuItem("Sublineas","window.open('Cl_Sublineas.aspx', '_self');");
  mm_menu_0723210002_0.addMenuItem("Marcas","window.open('Cl_Marcas.aspx', '_self');");
  mm_menu_0723210002_0.addMenuItem("Productos","window.open('Cl_Productos.aspx', '_self');");
  mm_menu_0723210002_0.addMenuItem("Ofertas","window.open('Cl_Ofertas.aspx', '_self');");
  mm_menu_0723210002_0.addMenuItem("Productos&nbsp;destacados","window.open('Cl_Productosdestacados.aspx', '_self');");
   mm_menu_0723210002_0.hideOnMouseOut=true;
   mm_menu_0723210002_0.menuBorder=1;
   mm_menu_0723210002_0.menuLiteBgColor='#bfd8f2';
   mm_menu_0723210002_0.menuBorderBgColor='#555555';
   mm_menu_0723210002_0.bgColor='#bfd8f2';
  window.mm_menu_0723194959_0 = new Menu("root",171,18,"Verdana, Arial, Helvetica, sans-serif",12,"#ffffff","#000000","#12428b","#bfd8f2","left","middle",3,0,200,-5,7,true,true,true,0,true,true);
  mm_menu_0723194959_0.addMenuItem("Registrar&nbsp;empresa&nbsp;cliente","window.open('Cl_Registrarempresa.aspx', '_self');");
  mm_menu_0723194959_0.addMenuItem("Cuenta","window.open('Cl_Cuenta.aspx', '_self');");
   mm_menu_0723194959_0.hideOnMouseOut=true;
   mm_menu_0723194959_0.menuBorder=1;
   mm_menu_0723194959_0.menuLiteBgColor='#bfd8f2';
   mm_menu_0723194959_0.menuBorderBgColor='#555555';
   mm_menu_0723194959_0.bgColor='#bfd8f2';
  window.mm_menu_0723205641_1 = new Menu("root",122,18,"Verdana, Arial, Helvetica, sans-serif",12,"#ffffff","#000000","#12428b","#bfd8f2","left","middle",3,0,200,-5,7,true,true,true,0,true,true);
  mm_menu_0723205641_1.addMenuItem("&iquest;Quienes&nbsp;Somos?","window.open('Cl_Quienessomos.aspx', '_self');");
  mm_menu_0723205641_1.addMenuItem("General","window.open('Cl_General.aspx', '_self');");
  mm_menu_0723205641_1.addMenuItem("Misi&oacute;n","window.open('Cl_Mision.aspx', '_self');");
  mm_menu_0723205641_1.addMenuItem("Visi&oacute;n","window.open('Cl_vision.aspx', '_self');");
   mm_menu_0723205641_1.hideOnMouseOut=true;
   mm_menu_0723205641_1.menuBorder=1;
   mm_menu_0723205641_1.menuLiteBgColor='#bfd8f2';
   mm_menu_0723205641_1.menuBorderBgColor='#555555';
   mm_menu_0723205641_1.bgColor='#bfd8f2';

  mm_menu_0723205641_1.writeMenus();
} // mmLoadMenus()
//-->
</script>
<script language="JavaScript1.2" src="mm_menu.js"></script>
<script language="JavaScript1.2">mmLoadMenus();</script>
<img name="tesisc" src="imagenes/tesisc.jpg" width="560" height="18" border="0" usemap="#m_tesisc" alt=""><map name="m_tesisc">
<area shape="poly" coords="480,0,560,0,560,18,480,18,480,0" href="#" target="Ninguno" alt="" onMouseOut="MM_startTimeout();"  onMouseOver="MM_showMenu(window.mm_menu_0723225714_0,480,18,null,'tesisc');"  >
<area shape="poly" coords="400,0,480,0,480,18,400,18,400,0" href="#" target="Ninguno" alt="" onMouseOut="MM_startTimeout();"  onMouseOver="MM_showMenu(window.mm_menu_0723224704_0,400,18,null,'tesisc');"  >
<area shape="poly" coords="321,0,401,0,401,18,321,18,321,0" href="#" target="Ninguno" alt="" onMouseOut="MM_startTimeout();"  onMouseOver="MM_showMenu(window.mm_menu_0723224518_0,321,18,null,'tesisc');"  >
<area shape="poly" coords="240,0,320,0,320,18,240,18,240,0" href="#" target="Ninguno" alt="" onMouseOut="MM_startTimeout();"  onMouseOver="MM_showMenu(window.mm_menu_0723224247_0,240,18,null,'tesisc');"  >
<area shape="poly" coords="160,0,240,0,240,18,160,18,160,0" href="#" target="Ninguno" alt="" onMouseOut="MM_startTimeout();"  onMouseOver="MM_showMenu(window.mm_menu_0723210002_0,160,18,null,'tesisc');"  >
<area shape="poly" coords="80,0,161,0,161,18,80,18,80,0" href="#" target="Ninguno" alt="" onMouseOut="MM_startTimeout();"  onMouseOver="MM_showMenu(window.mm_menu_0723194959_0,80,18,null,'tesisc');"  >
<area shape="poly" coords="0,0,80,0,80,18,0,18,0,0" href="#" target="Ninguno" alt="" onMouseOut="MM_startTimeout();"  onMouseOver="MM_showMenu(window.mm_menu_0723205641_1,0,18,null,'tesisc');"  >
</map>
