<%@ control language="vb" autoeventwireup="false" inherits="ucMensajePrueba, App_Web_iuhh2fh9" %>
<asp:Button id="Button1" Text="Mensaje Prueba" runat="server"></asp:Button>
<asp:Button id="Button2" Text="Mensaje JavaScript" runat="server"></asp:Button>
