<%@ control language="vb" autoeventwireup="false" inherits="ucTabular, App_Web_iuhh2fh9" %>
<%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="cc1" %>
<style type="text/css">
    .style1
    {
        width: 100%;
    }
</style>
<TABLE id="Table3" 
    style="border-style: solid; border-color: #660033; WIDTH: 494px; HEIGHT: 231px; margin-bottom: 0px;" 
    cellSpacing="0" cellPadding="0" align="left" border="1">
	<TR>
		<TD align="center">
			<table cellpadding="0" cellspacing="0" class="style1">
                <tr>
                    <td align="center">
                        <asp:Button ID="Button1" runat="server" Font-Names="Verdana" Font-Size="12pt" 
                            Text="Tabular" />
                    </td>
                </tr>
            </table>
		</TD>
	</TR>
</TABLE>
