﻿<%@ page title="" language="VB" masterpagefile="~/MasterPage.master" autoeventwireup="false" inherits="wbCierreCaj, App_Web_fqpnb-zj" enableEventValidation="false" maintainScrollPositionOnPostBack="true" %>

<%@ Register src="controles/cuwCierreCaj.ascx" tagname="cuwCierreCaj" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:cuwCierreCaj ID="cuwCierreCaj1" runat="server" />
</asp:Content>

