﻿<%@ page title="" language="VB" masterpagefile="~/MasterPage.master" autoeventwireup="false" inherits="WbMantFirmDig, App_Web_fqpnb-zj" enableEventValidation="false" maintainScrollPositionOnPostBack="true" %>



<%@ Register src="controles/Creditos/WbUCFirmDig.ascx" tagname="WbUCFirmDig" tagprefix="uc1" %>



<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
   
    <uc1:WbUCFirmDig ID="WbUCFirmDig1" runat="server" />
   
</asp:Content>


