

<%@ page language="VB" masterpagefile="~/MasterPage.master" autoeventwireup="false" inherits="WbSolilote, App_Web_fqpnb-zj" title="Solicitud Grupal" enableEventValidation="false" maintainScrollPositionOnPostBack="true" %>
<%@ Register assembly="Microsoft.Web.UI.WebControls" namespace="Microsoft.Web.UI.WebControls" tagprefix="iewc" %>

<%@ Register src="controles/Expediente/wucDownLoadExp.ascx" tagname="wucDownLoadExp" tagprefix="uc2" %>
<%@ Register src="controles/wucfindcligru.ascx" tagname="wucfindcligru" tagprefix="uc4" %>

<%@ Register src="controles/WbFindgr.ascx" tagname="WbFindgr" tagprefix="uc1" %>

<%@ Register src="controles/WbSollote.ascx" tagname="WbSollote" tagprefix="uc3" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <table cellpadding="0" cellspacing="0" style="width: 100%">
        <tr>
            <td>
                <iewc:tabstrip id="TabStrip1" runat="server" Font-Size="Larger" 
                                            Font-Names="Century Gothic" TabSelectedStyle="background-color:#ffffff;color:#000000;"
											TabHoverStyle="background-color:#777777;" TabDefaultStyle="background-color:#000000;font-family:verdana;font-weight:bold;font-size:8pt;color:#ffffff;width:79;height:21;text-align:center;"
											AutoPostBack="True" Height="33px" Width="303px">
											<iewc:Tab Text="Busqueda de Grupo"></iewc:Tab>
											<iewc:Tab Text="Solicitud de Credito"></iewc:Tab>										    
										</iewc:tabstrip>
                <uc3:WbSollote ID="WbSollote1" runat="server" />
            </td>
        </tr>
        <tr>
            <td>
                <uc1:WbFindgr ID="WbFindgr1" runat="server" />
            </td>
        </tr>
    </table>
</asp:Content>
