<%@ Register TagPrefix="uc1" TagName="WUCGetLin" Src="controles/WUCGetLin.ascx" %>
<%@ page language="vb" autoeventwireup="false" inherits="WfBusLin, App_Web_drohiwfo" enableEventValidation="false" maintainScrollPositionOnPostBack="true" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>WfBusLin</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
	</HEAD>
	<body>
		<form id="Form1" method="post" runat="server">
			<TABLE id="Table1" style="Z-INDEX: 101; LEFT: 8px; POSITION: absolute; TOP: 8px" cellSpacing="0"
				cellPadding="0" width="100%" border="0">
				<TR>
					<TD style="WIDTH: 87px"></TD>
					<TD></TD>
				</TR>
				<TR>
					<TD style="WIDTH: 87px"></TD>
					<TD align="center"><uc1:wucgetlin id="WUCGetLin1" runat="server"></uc1:wucgetlin></TD>
				</TR>
			</TABLE>
		</form>
	</body>
</HTML>
